services:
  socket-server:
    build: .
    container_name: socket-server
    ports:
      - "9000:9000"
    restart: always
    volumes:
      - ./data.txt:/app/data.txt

  deploy-notifier:
    build: .
    container_name: deploy-notifier
    entrypoint: ["python", "deploy_notifier.py"]
    environment:
      - WS_SERVER=ws://socket-server:9000
    depends_on:
      - socket-server
