version: "3.8"

services:
  socket-server:
    build: .
    image: d-manager:latest
    container_name: d-manager-socket-server
    command: python backend/app/main.py
    ports:
      - "9000:9000"
    restart: always
    volumes:
      - ./data:/app/data
    networks:
      - dmanager-net

  deploy-listen:
    image: d-manager:latest
    container_name: d-manager-deploy-listen
    command: python backend/app/listen.py
    environment:
      - WS_SERVER=ws://socket-server:9000
    depends_on:
      - socket-server
    restart: always
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - dmanager-net

networks:
  dmanager-net:
    driver: bridge
