version: "3.8"

services:
  socket-server:
    build: .
    container_name: socket-server
    ports:
      - "9000:9000"
    restart: always
    volumes:
      - ./data.txt:/app/data.txt

  deploy-listen:
    build: .
    container_name: deploy-listen
    entrypoint: ["python", "backend/app/listen.py"]
    environment:
      - WS_SERVER=ws://socket-server:9000
    depends_on:
      - socket-server
